@page
@model LayoutTemplateWebApp.Pages.ProfileModel
@{
}

<div class="ver-perfil">
    <div class="div">
        <div class="overlap-group">
            <div class="content-page">
                <div class="container">
                    <div class="text-wrapper">Perfil</div>
                    <div class="frame">
                        <div class="card">
                            <div class="wrapper">
                                <div class="image">
                                    <div class="image-2">
                                        <div class="aspect-ratio-keeper">
                                            <div class="aspect-ratio-keeper-2"></div>
                                        </div>
                                        <img class="image-placeholder"
                                             src="img/image-placeholder-change-image-here.svg" />
                                    </div>
                                    <div class="size-adjuster">
                                        <div class="ignore"></div>
                                        <div class="ignore-2"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="card-body">
                                        <div class="div-wrapper">
                                            <div class="text">@Model.user.PersonName @Model.user.FirstLastName @Model.user.SecondLastName</div>
                                        </div>
                                        @if (Model.user.Student != null){
                                            <div class="div-wrapper">
                                                <div class="text-2">@Model.user.Student.Id</div>
                                            </div>
                                        
                                        <div class="card-text">
                                            <div class="text-3">Estudiante</div>
                                            <div class="min-width-change">
                                                <div class="ignore"></div>
                                                <div class="ignore"></div>
                                            </div>
                                        </div>
                                        }
                                        @if (Model.user.Employee != null)
                                        {
                                            <div class="div-wrapper">
                                                <div class="text-2">@Model.user.Employee.Id</div>
                                            </div>

                                            <div class="card-text">
                                                @if (Model.user.Employee.IsProfessor)
                                                {
                                                    <div class="text-3">Profesor</div>
                                                    <div class="min-width-change">
                                                        <div class="ignore"></div>
                                                        <div class="ignore"></div>
                                                    </div>
                                                }else{
                                                    <div class="text-3">Administrativo</div>
                                                    <div class="min-width-change">
                                                        <div class="ignore"></div>
                                                        <div class="ignore"></div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        <div class="layout-blocks">
                                            <div class="div-wrapper-2">
                                                <div class="wrapper-2">
                                                    <div class="icon-left">
                                                        <div class="width-change-size">
                                                            <div class="ignore"></div>
                                                            <div class="ignore"></div>
                                                        </div>
                                                        <div class="icon-wrapper-h">
                                                            <div class="height-change-size">
                                                                <div class="ignore"></div>
                                                                <div class="ignore"></div>
                                                            </div>
                                                            <!--<div class="icon-wrapper">
                                                                <img class="union"
                                                                     src="img/union.svg" />
                                                            </div-->
                                                        </div>
                                                    </div>
                                                    <div class="text-4">@Model.user.Email</div>
                                                </div>
                                            </div>
                                            <div class="div-wrapper-2">
                                                <div class="wrapper-2">
                                                    <div class="icon-left">
                                                        <div class="width-change-size">
                                                            <div class="ignore"></div>
                                                            <div class="ignore"></div>
                                                        </div>
                                                        <div class="icon-wrapper-h-2">
                                                            <div class="height-change-size">
                                                                <div class="ignore"></div>
                                                                <div class="ignore"></div>
                                                            </div>
                                                            <div class="icon-wrapper-2"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-list">
                                            <button class="button">
                                                <div class="div-wrapper-2">
                                                    <!--<div class="text-5">
                                                        Modificar Contraseña
                                                    </div>-->
                                                    <a class="text-5" asp-page="/PasswordChange">Modificar Contraseña</a>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="navbar-default">
                <div class="app-logo"></div>
                <div class="components-navbar"></div>
                <div class="avatar">
                    <div class="width-change-size-2">
                        <div class="ignore"></div>
                        <div class="ignore"></div>
                    </div>
                    <div class="icon-wrapper-h-3">
                        <div class="height-change-size-2">
                            <div class="ignore"></div>
                            <div class="ignore"></div>
                        </div>
                        <div class="icon-wrapper-3">
                            <div class="width-change-size-3">
                                <div class="ignore"></div>
                                <div class="ignore"></div>
                            </div>
                            <div class="icon-wrapper-h">
                                <div class="height-change-size-3">
                                    <div class="ignore"></div>
                                    <div class="ignore"></div>
                                </div>
                                <div class="icon-wrapper"><img class="img" src="img/union-2.svg" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>